body {
    background-color: lightgoldenrodyellow;
    font-family: garamond;
    font-size: large;
    padding-right: 30%;
}
a {
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
    color: #551a8b;
}
a:hover {
    color: blue;
}

table {
    border-color: black;
    border-style: groove;
    text-align: center;
    line-height: 1.5;
    background-color: bisque;
}
#alakuva {
    padding-top: 2%;
    max-width: 100%;
}
#capygif {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 20%;
}