body {
    background-color: lightgoldenrodyellow;
    text-align: justify;
    padding-right: 500px;
    font-family: Garamond;
    display: block;
    font-size: large;
}

#capyperhe {
    height: 350px;
    width: 747px;
    padding-right: 1px;
    align-items: center;
    padding-top: 10px;
}

button :hover {
    cursor: pointer;
}

#takaisinetusivu {
    font-family: Garamond;
    height: 30px;
    width: 100px;
    text-decoration: none;
    font-size: larger;
}

#koirasivulle {
    font-family: Garamond;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    text-decoration: none;
    font-size: larger;
}

#capylisatieto {
    font-family: Garamond;
    height: 30px;
    width: 100px;

}

#capylisatieto:hover {
    color: blue;
}
#capy {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 200px;
}
nav :hover {
    color: blue;
}
table {
    border-color: black;
    border-style: groove;
    text-align: center;
    line-height: 1.5;
    background-color: bisque;
}
#capysivulle {
    font-family: Garamond;
    height: 30px;
    width: 100px;
    margin-left: 20px;
    text-decoration: none;
    font-size: larger;
}