body {
    background-color: lightgoldenrodyellow;
    font-family: garamond;
    text-align: center;
    font-size: large;
}
li {
    list-style: none;
    margin: 3px;
}
a {
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
}
a:hover {
    color: blue;
}
.ylavalikko {
    display: flex;
    justify-content: flex-start;
}
#kuva {
    max-width: 100%;
}
