body {
    background-color: lightgoldenrodyellow;
    font-family: garamond;
    font-size: large;
    padding-right: 30%;
}
a {
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
    color: #551a8b;
    transition: font-size 0.3s;
}
a:hover {
    color: blue;
    font-size: x-large;
}

table {
    border-color: black;
    border-style: groove;
    text-align: center;
    line-height: 1.5;
    background-color: bisque;
}
#koirakuva {
    padding-top: 2%;
    max-width: 100%;
}
#koiragif {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 30%;
    box-shadow: 2px 2px 2px 0px;
}

button {
    width: 100px;
    height: 50px;
    transition: width 2s;
    font-family: 'Kanit', sans-serif;
  }
  
  button:hover {
    width: 300px;
  }